<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cs.hku.ledger">

    <permission-group
        android:name="${applicationId}.permission.group.ledger"
        android:label="@string/label_permission_group"
        android:description="@string/description_permission_group" />

    <permission android:name="${applicationId}.permission.CREATE_ACCOUNT"
        android:label="@string/label_permission_create_account"
        android:permissionGroup="${applicationId}.permission.group.ledger"
        android:protectionLevel="dangerous" />
    <permission android:name="${applicationId}.permission.RECORD_TRANSACTION"
        android:label="@string/label_permission_record_transaction"
        android:permissionGroup="${applicationId}.permission.group.ledger"
        android:protectionLevel="dangerous" />

    <uses-permission android:label="@string/label_permission_record_transactions"
        android:name="cs.hku.ledger.android.permission.RECORD_TRANSACTION" />
    <uses-permission android:label="@string/label_permission_create_accounts"
        android:name="cs.hku.ledger.android.permission.CREATE_ACCOUNT" />

    <uses-permission android:name="android.permission.VIBRATE"
        android:label="Allow device to vibrate with notifications" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        android:label="Schedule repeating transactions when device is rebooted"/>
    <uses-permission android:name="android.permission.INTERNET"
        android:label="Export and backup to 3rd party hosting services" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="cs.hku.ledger.android.app.GnuCashApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ledger"
        tools:targetApi="31">
        <activity
            android:name="cs.hku.ledger.android.ui.account.AccountsActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern="/.*\\.ledger" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern="/.*\\.ledg" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" android:host="*" android:mimeType="*/*" android:pathPattern="/.*\\.ledg.zip" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs.hku.ledger.android.ui.passcode.PasscodeLockScreenActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="cs.hku.ledger.android.ui.transaction.ScheduledActionsActivity" />
        <activity android:name="cs.hku.ledger.android.ui.passcode.PasscodePreferenceActivity"
            android:theme="@style/Theme.LedgerTheme" />
        <activity android:name="cs.hku.ledger.android.ui.transaction.TransactionsActivity" />
        <activity android:name="cs.hku.ledger.android.ui.homescreen.WidgetConfigurationActivity"
            android:label="@string/label_widget_configuration"
            android:theme="@style/Dialog.WidgetConfiguration"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name="cs.hku.ledger.android.ui.common.FormActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="cs.hku.ledger.android.ui.transaction.TransactionDetailActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="cs.hku.ledger.android.ui.report.ReportsActivity"
            android:launchMode="singleTop"/>
        <activity android:name="cs.hku.ledger.android.ui.budget.BudgetsActivity"
            android:launchMode="singleTop"/>
        <activity android:name="cs.hku.ledger.android.ui.wizard.FirstRunWizardActivity"
            android:theme="@style/Theme.LedgerTheme" />
        <activity android:name="cs.hku.ledger.android.ui.settings.PreferenceActivity"
            android:theme="@style/Theme.LedgerTheme" />

        <!-- com.dropbox.core.android.AuthActivity -->

        <service android:name="cs.hku.ledger.android.service.ScheduledActionService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:label="Android Scheduler Execution Service"/>
        <service android:name="cs.hku.ledger.android.util.BackupJob"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <receiver android:name="cs.hku.ledger.android.receivers.TransactionRecorder"
            android:label="Records transactions received through intents"
            android:permission="cs.hku.ledger.android.permission.RECORD_TRANSACTION"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.${applicationId}.transaction"/>
            </intent-filter>
        </receiver>
        <receiver android:name="cs.hku.ledger.android.receivers.AccountCreator"
            android:label="Creates new accounts"
            android:permission="cs.hku.ledger.android.permission.CREATE_ACCOUNT"
            android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.${applicationId}.account"/>
            </intent-filter>
        </receiver>
        <receiver android:name="cs.hku.ledger.android.receivers.TransactionAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/transaction_appwidget_info" />
        </receiver>
        <receiver android:name="cs.hku.ledger.android.receivers.BootReceiver"
            android:label="Schedules regular runs for the scheduled events service"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="cs.hku.ledger.android.receivers.PeriodicJobReceiver" android:exported="false">
            <intent-filter>
                <action android:name="cs.hku.ledger.android.action_backup" />
                <action android:name="cs.hku.ledger.android.action_scheduled_actions" />
            </intent-filter>
        </receiver>
        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>